<ActionBar title="{{buttonText}} Feature">
</ActionBar>
<GridLayout>
	<ng-container *ngIf="item | async as item; else loading">
	    <StackLayout class="dataform">
            <!-- <RadDataForm #featureFormObject [source]="item">
				<TKEntityProperty tkDataFormProperty name="name" displayName="Name" 
                index="0"></TKEntityProperty>
				<TKEntityProperty tkDataFormProperty name="bandName" displayName="Name of Band"
					index="1"></TKEntityProperty>
				<TKEntityProperty tkDataFormProperty name="year" displayName="Release Year"
					index="2"></TKEntityProperty>
				<TKEntityProperty tkDataFormProperty name="myRating" displayName="My Rating"
					index="3"></TKEntityProperty>
				<TKEntityProperty tkDataFormProperty name="owned" displayName="Do I Own This?"
					index="4"></TKEntityProperty>
			</RadDataForm> -->
			<DropDown #dd
				  backroundColor="red"
                  [items]="values"
                  [(ngModel)]="selectedIndex"
                  (selectedIndexChanged)="onchange($event)"></DropDown>
			<Button [text]="buttonText" class="btn btn-primary" (tap)="addFeature(item)"></Button>
			<Label text="Selected Index:"
               fontSize="18"
			   verticalAlignment="bottom"></Label>
			   <Label [text]="selectedIndex"
               fontSize="18"
               verticalAlignment="bottom"></Label>
        <TextField [text]="selectedIndex"></TextField>
	    </StackLayout>
	</ng-container>
	
	<ng-template #loading>
	    <ActivityIndicator [busy]="true"></ActivityIndicator>
	</ng-template>
</GridLayout>