<ActionBar title="Add Property">
</ActionBar>
<GridLayout>
    <ng-container *ngIf="item | async as item; else loading">
        <StackLayout class="dataform">
            <RadDataForm #propertyFormObject [source]="item">
                <TKEntityProperty tkDataFormProperty name="name" displayName="Name" index="0"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="low" displayName="Left Label" index="1"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="high" displayName="Right Label" index="2"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="weight" hidden="true"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="score" hidden="true"></TKEntityProperty>
                <TKEntityProperty tkDataFormProperty name="featureId" hidden="true"></TKEntityProperty>
            </RadDataForm>
            <Button text="Add" class="btn btn-primary" (tap)="addProperty(item)"></Button>
        </StackLayout>
    </ng-container>
    
    <ng-template #loading>
        <ActivityIndicator [busy]="true"></ActivityIndicator>
    </ng-template>
</GridLayout>